:root {
	--site-gutter: 2vw;
	--site-max-width: 1400px;
	--grid-gap: 11px;
	--grid-column-count: 24;
	--grid-row-count: 8;
	--grid-row-height-ratio: 0.0215;
	--grid-gap-count: (var(--grid-column-count) - 1);
	--grid-gutter: calc(var(--site-gutter) - var(--grid-gap));
	--cell-max-width: calc(
		(var(--site-max-width) - (var(--grid-gap) * var(--grid-gap-count))) /
			var(--grid-column-count)
	);
	--container-width: min(
		var(--site-max-width),
		calc(100vw - var(--site-gutter))
	);
}
