:root {
	--site-gutter: 2vw;
	--site-max-width: 1400px;
	--grid-gap: 11px;
	--grid-column-count: 24;
	--grid-row-height-ratio: 0.0215;
	--grid-gap-count: (var(--grid-column-count) - 1);
	--grid-gutter: calc(var(--site-gutter) - var(--grid-gap));
	--cell-max-width: calc(
		(var(--site-max-width) - (var(--grid-gap) * var(--grid-gap-count))) /
			var(--grid-column-count)
	);
	--container-width: min(
		var(--site-max-width),
		calc(100vw - var(--site-gutter))
	);
	--site-hover: #e7e7e7;
	--site-box-shadow: 0px 3px 5px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
		0px 6px 10px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
		0px 1px 18px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}
